* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #0F0F0F;

    color: CanvasText;
    color-scheme: light dark;
}

p {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

header {
    padding: 0 1rem;
}

main {
    padding: 1rem;

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        .box {
            background-color: #1F1F1F;
            border: 1px solid $secondary;
            padding: 1rem;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        padding: 2rem 1rem;
    }

}

footer {
    border-top: 1px solid $secondary;
    background-color: rgba($color: #000, $alpha: .2);

    nav {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            margin: 0;
            padding: 0 .9rem;
            list-style: none;

            li {
                position: relative;

                a {
                    display: block;
                    color: inherit;
                    font-size: inherit;
                    text-decoration: none;
                    padding: .8rem 1rem;

                    font-size: .9rem;
                    color: rgba($color: #fff, $alpha: .5);

                    border-right: 1px solid $secondary;

                    &.active,
                    &:hover {
                        background-color: rgba($color: #000, $alpha: .5);
                        color: rgba($color: #fff, $alpha: 1);
                    }
                }

                ul {
                    display: block;
                    position: absolute;
                    top: -120%;
                    left: -18%;
                    width: 100%;

                    // background-color: red;
                    li {
                        a {
                            // width: 100%;
                            border-top: 1px solid $secondary;
                            border-bottom: 1px solid $secondary;
                            padding-top: .4rem;
                            padding-bottom: .4rem;
                        }
                    }
                }

                &:hover {
                    ul {
                        display: block;
                    }
                }

                &:first-child {
                    a {
                        border-left: 1px solid $secondary;
                    }
                }
            }
        }
    }

    @media (max-width: $mobile-breakpoint) {
        border-top-width: 0;

        nav {
            flex-direction: column;

            ul {
                flex-direction: column;

                li {
                    a {
                        border-left: 1px solid $secondary;
                    }

                    &:first-child {
                        a {
                            border-top: 1px solid $secondary;
                            border-bottom: 1px solid $secondary;

                        }
                    }
                }
            }
        }
    }
}

input,
textarea {
    background-color: #121212 !important;
    font-size: 1.2rem;
    font-family: "Roboto";

    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $secondary;
    }

}

label {
    color: $secondary;
    font-size: 1rem;
    line-height: 2rem;
}

.text-primary {
    color: yellow;
}

.box__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box__footer {
    text-align: right;
    padding: .5rem 0;
    color: $secondary;
    font-size: .8rem;
}

.box__form_inline {
    display: flex;
    justify-content: space-between;

    p {
        color: $secondary_50;
    }
}

.hide_mobile {
    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}

.home__form {
    display: flex;
    flex-wrap: wrap;
    // background-color: skyblue;
    gap: 2%;
    margin-bottom: 1rem;

    .home__form_group {
        flex: 30%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @media (max-width: $mobile-breakpoint) {
            textarea {
                min-height: auto !important;
                height: unset !important;
            }
        }
    }

    .full {
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    .home__form_footer {
        width: 100%;
    }

    @media (max-width: $mobile-breakpoint) {

        gap: 1%;

        .home__form_group {
            width: 100%;
            margin-bottom: 0;
        }
    }
}

.btn {
    all: unset;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    border: 1px double $secondary;
    color: $secondary;
    // background-color: rgba($color: skyblue, $alpha: .5);
    transition: .2s all;
    cursor: pointer;

    &:hover {
        color: yellow;
        border-color: yellow;
    }
}